<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <% content_for :title, "Orders" %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Orders</h1>
    <%= link_to "New order", new_admin_order_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <div class="mb-4" data-turbo-prefetch="false">
    <ul class="nav nav-tabs flex list-none flex-wrap border-b-0 pl-0 mb-4" id="tabs-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <%= link_to "Unfulfilled", unfulfilled_admin_orders_path,  data: { turbo_frame: "orders" },  class: "nav-link block font-medium text-xs leading-tight uppercase border-x-0 border-t-0 border-b-2 border-transparent px-6 py-3 my-2 hover:border-transparent hover:bg-gray-100 focus:border-transparent active"%>
      </li>
      <li class="nav-item" role="presentation">
        <%= link_to "Fulfilled", fulfilled_admin_orders_path, data: { turbo_frame: "orders" }, class: "nav-link block font-medium text-xs leading-tight uppercase border-x-0 border-t-0 border-b-2 border-transparent px-6 py-3 my-2 hover:border-transparent hover:bg-gray-100 focus:border-transparent"%>
      </li>
    </ul>
  </div>
  <%= turbo_frame_tag "orders", src: unfulfilled_admin_orders_path %>
</div>